{% extends 'base.html' %}



	<!-- Page Content -->

{% block content %}
{% include 'sidenav.html' %}	
<div class="w3-display-container w3-wide bgimg w3-grayscale" id="contain">

	  		<span class="w3-opennav w3-xxlarge w3-padding-left" onclick="opennav()" id="openNav">&#9776; MENU</span>
	  		<span class="w3-opennav w3-xxlarge w3-padding-left" onclick="opennav()" id="hiddenNav">&nbsp</span>

<div class="w3-container w3-text-white w3-center w3-padding-special w3-opacity-min">
	    	<h1 class="w3-black w3-margin-leftsp w3-margin-rightsp w3-spjumbo">urhangover.</h1>
	    	<h2 class="w3-black w3-margin-leftsp w3-margin-rightsp">#Discover & Booking Bar in Bangkok</h2>
	  	</div>
	  	<div class= "w3-container w3-contain w3-padding-32"> 
	  		<p class="w3-center"><a href="/bar/"class="w3-btn w3-small w3-transparent w3-padding-large w3-border w3-border-white w3-hover-white">ค้นหาโต๊ะเลย</a></p>
	  	</div>



</div>

	  
{% endblock %}

