<!DOCTYPE html>
<html>
<title>URHangOver</title>
<head>
	<!-- bootstrap & w3 framwork -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/3-col-portfolio.css">
    <link rel="stylesheet" href="../static/css/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- font -->
	<link rel="shortcut icon" href="../static/Image/H.png" />
	<link href="https://fonts.googleapis.com/css?family=Prompt|Poiret+One" rel="stylesheet">
	<!-- html show thai char -->
 	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
    <meta http-equiv="Content-Type" content="text/html; charset=windows-874">
    <meta http-equiv="Content-Type" content="text/html; charset=tis-620">
</head>
<style>
	body,h1,h2 ,#openNav{
		font-family: 'Poiret One', cursive;
	}
	body, html {
		height: 100%
	}
	nav, p, #exit {
		font-family: 'Prompt', sans-serif;
		line-height: 4
	}
</style>
<body>
<!-- IN PAGE-->
	<!-- sideNav -->
	<nav class="w3-sidenav w3-white w3-card-2 w3-animate-left" style="width:17%" id="mySidenav">
		<!-- close section -->
	 	<div class="w3-container w3-padding-16">
	 	    <i onclick="closenav()" class="fa fa-remove w3-closebtn w3-xlarge w3-hover-text-red"></i>
		</div> 	
		<!-- user section -->
	 	<div class="w3-container w3-padding-8">
   			<h3 class="w3-wide w3-center"><b>URHangOver</b></h3>
   			<p class="w3-wide w3-center">Welcome,Guest</p>
	 	</div>
	 	<!-- main section -->
	 	<div class="w3-container w3-padding-16">
		  	<a href="#" class="w3-green"><img src="../static/Image/icon_img/home.png" />&nbsp&nbsp&nbspหน้าหลัก</a>
		  	<a href="Login_page.html" ><img src="../static/Image/icon_img/user.png"/>&nbsp&nbsp&nbspลงชื่อเข้าใช้</a>
		  	<a href="Register_page.html" ><img src="../static/Image/icon_img/add.png"/>&nbsp&nbsp&nbspสมัครสมาชิก</a>
		  	<div class="w3-accordion">
	    		<a onclick="dropdown()" href="#"><img src="../static/Image/icon_img/hand.png"/>&nbsp&nbsp&nbspค้นหาร้านที่ใช่<i class="fa fa-caret-down w3-margin-left"></i></a>
	    		<div class="w3-accordion-content w3-white w3-medium w3-padding-large" id="drop">
	      			<a href="#"><i class="fa fa-caret-right w3-margin-right"></i>ห้วยขวาง</a>
	      			<a href="#"><i class="fa fa-caret-right w3-margin-right"></i>รัชดา</a>
	      			<a href="#"><i class="fa fa-caret-right w3-margin-right"></i>พระนคร</a>
	      			<a href="#"><i class="fa fa-caret-right w3-margin-right"></i>สีลม</a>
                    <a href="#"><i class="fa fa-caret-right w3-margin-right"></i>ลาดพร้าว</a>
                    <a href="#"><i class="fa fa-caret-right w3-margin-right"></i>จตุจักร</a>
                    <a href="#"><i class="fa fa-caret-right w3-margin-right"></i>บางเขน</a>
                    <a href="#"><i class="fa fa-caret-right w3-margin-right"></i>วัฒนา</a>
                    <a href="#"><i class="fa fa-caret-right w3-margin-right"></i>ปทุมวัน</a>
	    		</div>
	    	</div>
    	</div>	
    	<!-- footer -->
    	<div class="w3-container w3-margin-top-nav">
	  		<a href="AboutUS_page.html"><img src="../static/Image/icon_img/star.png"/>&nbsp&nbsp&nbspเกี่ยวกับเรา</a>
	  	</div>
	</nav>
	
	<!-- Page Content -->
	<div class="w3-display-container w3-grayscale" id="contain">
	  	<div class="w3-container w3-padding-top">
	  		<span class="w3-opennav w3-xxlarge w3-padding-left" onclick="opennav()" id="openNav">&#9776; MENU</span>
	  		<span class="w3-opennav w3-xxlarge w3-padding-left" onclick="opennav()" id="hiddenNav">&nbsp</span>
	  	</div>
	</div>
</body>
<script>
	document.getElementById("contain").style.marginLeft = "17%";
	document.getElementById("hiddenNav").style.display = "inline-block";
	document.getElementById("openNav").style.display = "none";
	function opennav() {
	  document.getElementById("contain").style.marginLeft = "17%";
	  document.getElementById("mySidenav").style.width = "17%";
	  document.getElementById("mySidenav").style.display = "block";
	  document.getElementById("openNav").style.display = "none";
	  document.getElementById("hiddenNav").style.display = "inline-block";
	}
	function closenav() {
	  document.getElementById("contain").style.marginLeft = "0%";
	  document.getElementById("mySidenav").style.display = "none";
	  document.getElementById("hiddenNav").style.display = "none";
	  document.getElementById("openNav").style.display = "inline-block";
	}	
	function dropdown() {
    var x = document.getElementById("drop");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " w3-blue";
    } else {
        x.className = x.className.replace(" w3-show", "");
        x.previousElementSibling.className =
        x.previousElementSibling.className.replace(" w3-blue", "");
    }
}
</script>
</html>

