<!-- sidenav -->
{% load static %}
<style>
	body,h1,h2 ,#openNav{
		font-family: 'Poiret One', cursive;
		

	}
	body, html {
		height: 100%
	}
	nav, p, #exit {
		font-family: 'Prompt', sans-serif;
		line-height: 4
		
	}
	.bgimg{
	    min-height: 100%;
	    background-position: center;
	    background-size: cover;
	}
	.bgimg {
		background-image: url("{% static 'Image/bg_img/bg2.jpg' %}")
	}
	.w3-sidenav{
		transition: 0.5s;
		display: block;
		width: 0;		
	}

</style>




	<!-- sideNav -->
	<nav class="w3-sidenav w3-lightgray w3-card-2 w3-animate-left" id="mySidenav">
		<!-- close section -->
	 	<div class="w3-container w3-padding-16">
	 	    <i onclick="closenav()" class="fa fa-remove w3-closebtn w3-xlarge w3-hover-text-red"></i>
		</div> 	
		<!-- user section -->
	 	<div class="w3-container w3-padding-8" >
   			<h3 class="w3-wide w3-center"><b>urhangover</b></h3>
   			<p class="w3-wide w3-center">Welcome,{% if request.session.user %}{{request.session.user}}{% else %}
Guest{% endif %}.</p>
	 	</div>
	 	<!-- main section -->
	 	<div class="w3-container w3-padding-16">
		  	<a href="/"><img src="{% static 'Image/icon_img/home.png' %}" />&nbsp&nbsp&nbspหน้าหลัก</a>

					
			{% if request.session.user %}
			<!-- for logged in user -->
			<a href="#" ><img src="{% static 'Image/icon_img/user.png' %}"/>&nbsp&nbsp&nbsp {{request.session.user}}</a>
		  	<a href="/logout/" ><img src="{% static 'Image/icon_img/user.png' %}"/>&nbsp&nbsp&nbsp Logout</a>
			{% else %}
			<!-- for not logged in user -->
		  	<a href="/gotologin/" ><img src="{% static 'Image/icon_img/user.png' %}"/>&nbsp&nbsp&nbspลงชื่อเข้าใช้</a>
		  	<a href="/gotoregister/" ><img src="{% static 'Image/icon_img/add.png' %}"/>&nbsp&nbsp&nbspสมัครสมาชิก</a>
			{% endif %}

		  	<div class="w3-accordion">
	    		<a onclick="dropdown()"><img src="{% static 'Image/icon_img/hand.png' %}"/>&nbsp&nbsp&nbspค้นหาร้านที่ใช่<i class="fa fa-caret-down w3-margin-left"></i></a>
	    		<div class="w3-accordion-content w3-white w3-medium w3-padding-large" id="drop">
			<a href="/bar/showbar?"><i class="fa fa-caret-right w3-margin-right"></i>ทั้งหมด</a>
			<a href="/bar/showbar?district=HUAYKWANG"><i class="fa fa-caret-right w3-margin-right"></i>เขต ห้วยขวาง</a>
			<a href="/bar/showbar?district=RATCHADA"><i class="fa fa-caret-right w3-margin-right"></i>เขต รัชดา</a>
			<a href="/bar/showbar?district=PHANAKORN"><i class="fa fa-caret-right w3-margin-right"></i>เขต พระนคร</a>
			<a href="/bar/showbar?district=SILOM"><i class="fa fa-caret-right w3-margin-right"></i>เขต สีลม</a>
			    <a href="/bar/showbar?district=LADPHRAO"><i class="fa fa-caret-right w3-margin-right"></i>เขต ลาดพร้าว</a>
			    <a href="/bar/showbar?district=CHATUCHAK"><i class="fa fa-caret-right w3-margin-right"></i>เขต จตุจักร</a>
			    <a href="/bar/showbar?district=BANGKHEN"><i class="fa fa-caret-right w3-margin-right"></i>เขต บางเขน</a>
			    <a href="/bar/showbar?district=BANGKAPI"><i class="fa fa-caret-right w3-margin-right"></i>เขต บางกะปิ</a>
			    <a href="/bar/showbar?district=WATTHANA"><i class="fa fa-caret-right w3-margin-right"></i>เขต วัฒนา</a>
			    <a href="/bar/showbar?district=PHATUMWAN"><i class="fa fa-caret-right w3-margin-right"></i>เขต ปทุมวัน</a>
	    		</div>
	    	</div>
    	</div>	
    	<!-- footer -->
    	<div class="w3-container w3-margin-top-nav">
	  		<a href="/bar/showbar"><img src="{% static 'Image/icon_img/star.png' %}"/>&nbsp&nbsp&nbspเกี่ยวกับเรา</a>
	  	</div>
	</nav>


<script>
	document.getElementById("contain").style.marginLeft = "19%";
	document.getElementById("hiddenNav").style.display = "inline-block";
	document.getElementById("openNav").style.display = "none";
	function opennav() {
	  
	  document.getElementById("mySidenav").style.width = "19%";
	  document.getElementById("mySidenav").style.display = "block";
	  document.getElementById("openNav").style.display = "none";
	  document.getElementById("hiddenNav").style.display = "inline-block";
	}
	function closenav() {
	 document.getElementById("mySidenav").style.width = "0%";
	  document.getElementById("mySidenav").style.display = "none";
	  document.getElementById("hiddenNav").style.display = "none";
	  document.getElementById("openNav").style.display = "inline-block";
	}	
	function dropdown() {
    var x = document.getElementById("drop");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " w3-blue";
    } else {
        x.className = x.className.replace(" w3-show", "");
        x.previousElementSibling.className =
        x.previousElementSibling.className.replace(" w3-blue", "");
    }
}
</script>
