<!DOCTYPE html>
<html>
<title>Baku Pub</title>
<head>
  <!-- html show thai char -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
  <meta http-equiv="Content-Type" content="text/html; charset=windows-874">
  <meta http-equiv="Content-Type" content="text/html; charset=tis-620">
  <!-- w3 css -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs\/font-awesome/4.6.3/css/font-awesome.min.css">
  <!-- font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link href="https://fonts.googleapis.com/css?family=Prompt" rel="stylesheet">
</head>

<style>
  body {
    font-family: "Lato", sans-serif;
    text-color:"w3-white";
  }
  h1, h2{
    font-size: 40px;
  }
  p{
    font-family: 'Prompt', sans-serif;
    font-size: 20px;
  }
  img{
    border-style: solid;
    border-color: white;
    border-width: :30px;
  }
  .mySlides {display:none;height:600px}
  .w3-left, .w3-right, .w3-badge {cursor:pointer}
  .w3-badge {height:13px;width:13px;padding:0}
</style>

<body>
<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:0px">
  <!-- The Band Section -->
  <div class="w3-light-grey", id="band">
    <div class=" w3-container w3-content w3-center w3-padding-64" style="max-width:800px">
      <h1 class="w3-wide">Baku Pub</h1><br>
      <p class="w3-justify">บากูผับ รัชดาซอย 4 ผับที่ทุกคนเป็นหุ้นส่วนความมัน พบกับดนตรีจากทีม DJ และ MC ชั้นนำ พร้อมกับวงดนตรีสดที่จะมาบรรเลงเพลงเพื่อเขย่าต่อมความมันของคุณเป็นประจำทุกค่ำคืน นอกจากนี้ยังมีโปรโมชั่นสุดคุ้ม และปาร์ตี้เจ๋งๆ เป็นของสมนาคุณแก่ลูกค้าชาวบากูทุกท่านในทุกๆ เดือนอีกด้วย จุดเด่นของร้านนี้ อยู่ที่สไตล์การตกแต่งร้านที่โดดเด่นในเรื่องของสีสัน และความโปร่งสบาย หลังคาสูง ไม่แออัด ถ้าเป็นโซนดริ้งค์และแดนซ์ โต๊ะเก้าอี้ เว้นระยะ พอให้ลูกค้าได้ลุกมาเต้นแบบสบายๆ สำหรับคนที่พาคู่รักมานั่งชิลล์ๆ หรืออยากได้บรรยากาศแบบส่วนตัว ทางร้านก็มีมุมโซฟาสบายๆ ให้เลือกนั่ง แสงไฟภายในร้านโดยรวมไม่จี๊ดจ๊าดมาก แต่คงไว้ซึ่งความคลาสสิก สบายตาด้วยไฟโทนสีเหลือง.</p>
    </div>
  </div>

  <!-- Image slide Section -->
  <div class="w3-black" id="tour">
    <div class="w3-container w3-content w3-padding-32" style="max-width:800px">
      <h2 class="w3-wide w3-center">Location</h2>
      <p class="w3-opacity w3-center">enjoy the views!</p><br>
      <div class="w3-content w3-display-container" style="max-width:800px">

{% load static %}
      <img class="mySlides" src="{% static 'image/bar_img/B1/B1_1.jpg' %}" style="width:100%">
      <img class="mySlides" src="{% static 'image/bar_img/B1/B1_2.jpg' %}" style="width:100%">
      <img class="mySlides" src="{% static 'image/bar_img/B1/B1_3.jpg' %}" style="width:100%">
      <img class="mySlides" src="{% static 'image/bar_img/B1/B1_4.jpg' %}" style="width:100%">
      <img class="mySlides" src="{% static 'image/bar_img/B1/B1_5.jpg' %}" style="width:100%">
      <img class="mySlides" src="{% static 'image/bar_img/B1/B1_6.jpg' %}" style="width:100%">
      <!-- L&R control slide -->
      <a class="w3-btn-floating w3-display-left" onclick="plusDivs(-1)">&#10094;</a>
      <a class="w3-btn-floating w3-display-right" onclick="plusDivs(1)">&#10095;</a>  
      <div class="w3-center w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(4)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(5)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(6)"></span>
    </div>
  </div>
</div>
<!-- End Page Content -->
</body>

<!-- Slide Image Script -->
<script>
  var slideIndex = 1;
  showDivs(slideIndex);

  function plusDivs(n) {
    showDivs(slideIndex += n);
  }

  function currentDiv(n) {
    showDivs(slideIndex = n);
  }

  function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("demo");
    if (n > x.length) {slideIndex = 1}
    if (n < 1) {slideIndex = x.length}
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" w3-white", "");
    }
    x[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " w3-white";
  }
</script>
</html>

