<!DOCTYPE html>
<html>
<title>Slim</title>
<head>
  <!-- html show thai char -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
  <meta http-equiv="Content-Type" content="text/html; charset=windows-874">
  <meta http-equiv="Content-Type" content="text/html; charset=tis-620">
  <!-- w3 css -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs\/font-awesome/4.6.3/css/font-awesome.min.css">
  <!-- font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link href="https://fonts.googleapis.com/css?family=Prompt" rel="stylesheet">
</head>

<style>
  body {
    font-family: "Lato", sans-serif;
    text-color:"w3-white";
  }
  h1, h2{
    font-size: 40px;
  }
  p{
    font-family: 'Prompt', sans-serif;
    font-size: 20px;
  }
  img{
    border-style: solid;
    border-color: white;
    border-width: :30px;
  }
  .mySlides {display:none;height:600px}
  .w3-left, .w3-right, .w3-badge {cursor:pointer}
  .w3-badge {height:13px;width:13px;padding:0}
</style>

<body>
<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:0px">
  <!-- The Band Section -->
  <div class="w3-light-grey", id="band">
    <div class=" w3-container w3-content w3-center w3-padding-64" style="max-width:800px">
      <h1 class="w3-wide">Slim</h1><br>
      <p class="w3-justify">Slim คือ หนึ่งในร้านฮอตฮิตที่เป็นสถานที่ท่องราตรีของนักเที่ยวในย่าน RCA อีกหนึ่งร้าน โดยเฉพาะผู้ที่ชื่นชอบเพลงแนว Hip Hop จะคุ้นเคยกันดีเลยว่า ที่นี่แหละที่มีศิลปิน Hip Hop ชั้นแนวหน้ามาสร้างความสนุกในสไตล์ของพวกเขากันบ่อย ๆ ที่สำคัญทาง Slim เองก็มักจะมีการจัดคอนเสิร์ตจากศิลปินดัง ๆ อยู่บ่อยครั้งเลยอีกด้วย นอกจากนี้ ในเรื่องของการตกแต่งร้านก็ยอดเยี่ยมไม่แพ้กัน โดยเป็นห้องโล่งเน้นเพดานสูง แบบโทนสีดำ ให้ความรู้สึกโล่งสบาย เพิ่มสีสันด้วยแสงไฟ ส่วนโซนที่นั่งมี 2 โซน คือ โซนแดนซ์ ด้านหน้าเวที และโซนนั่งชิล ๆ เป็นชั้นลอย สามารถมองเห็นด้านล่างได้อย่างชัดเจน.</p>
    </div>
  </div>

  <!-- Image slide Section -->
  <div class="w3-black" id="tour">
    <div class="w3-container w3-content w3-padding-32" style="max-width:800px">
      <h2 class="w3-wide w3-center">Location</h2>
      <p class="w3-opacity w3-center">enjoy the views!</p><br>

  <div class="w3-content w3-display-container" style="max-width:800px">

 {% load static %}
      <img class="mySlides" src="{% static 'image/barpage/B4/B4_1.jpg' %}" style="width:100%">
      <img class="mySlides" src="{% static 'image/barpage/B4/B4_2.jpg' %}" style="width:100%">
      <img class="mySlides" src="{% static 'image/barpage/B4/B4_3.jpg' %}" style="width:100%">
      <img class="mySlides" src="{% static 'image/barpage/B4/B4_4.jpg' %}" style="width:100%">
      <img class="mySlides" src="{% static 'image/barpage/B4/B4_5.jpg' %}" style="width:100%">
      <img class="mySlides" src="{% static 'image/barpage/B4/B4_6.jpg' %}" style="width:100%">
      <!-- L&R control slide -->
      <a class="w3-btn-floating w3-display-left" onclick="plusDivs(-1)">&#10094;</a>
      <a class="w3-btn-floating w3-display-right" onclick="plusDivs(1)">&#10095;</a>  
      <div class="w3-center w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(4)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(5)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(6)"></span>
    </div>
  </div>
</div>
<!-- End Page Content -->

<!-- Add Google Maps -->
<div id="googleMap" style="height:400px;filter:grayscale(30%);-webkit-filter:grayscale(30%);"></div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjw5Tys-6POwI_mUj1lOnMx0qVRpxxtww"></script>
<script>
var myCenter = new google.maps.LatLng(13.7519709,100.5400504);
function initialize() {
    var mapProp = {
    center: myCenter,
    zoom: 12,
    scrollwheel: false,
    draggable: false,
    mapTypeId: google.maps.MapTypeId.ROADMAP
};
var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
var marker = new google.maps.Marker({
    position: myCenter,
});
marker.setMap(map);
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>

<!-- Credit Section -->
<footer class="w3-container w3-padding-16 w3-center w3-pale-green w3-xlarge">
<!-- link to main page -->
  <i class="fa fa-map-marker" style="width:30px"></i><a href="test1.html">Go To Main Page</a><br>
  <p class="w3-medium">Powered by URHangOver</p>
</footer>

<!-- Slide Image Script -->
<script>
  var slideIndex = 1;
  showDivs(slideIndex);

  function plusDivs(n) {
    showDivs(slideIndex += n);
  }

  function currentDiv(n) {
    showDivs(slideIndex = n);
  }

  function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("demo");
    if (n > x.length) {slideIndex = 1}
    if (n < 1) {slideIndex = x.length}
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" w3-white", "");
    }
    x[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " w3-white";
  }
</script>
</body>
</html>

