<html>
<body>
	<h1> Fucking Register Page</h1>

		<form name = "form" action = "/register/" method = "POST"> {% csrf_token %}
		<center>
			<input type = "text" placeholder = "username" name = "username"/> <br>
			<input type = "password" placeholder = "password" name = "password"/> 
			<input type = "name" placeholder = "name" name = "name"/> 
			<input type = "surname" placeholder = "surname" name = "surname"/> 
			<input type = "tel" placeholder = "telephone" name = "tel"/> 
			<input type = "email" placeholder = "email" name = "email"/> 
			<button type = "submit" value = "signup"> Sign up Bitch! </button>
		</center>
	</form>
</body>
</html>
