<!DOCTYPE html>
<html>
<title>URHangOver</title>
<head>
	<!-- bootstrap & w3 framwork -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/3-col-portfolio.css">
    <link rel="stylesheet" href="../static/css/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- font -->
	<link rel="shortcut icon" href="../static/Image/icon_img/H.png" />
	<link href="https://fonts.googleapis.com/css?family=Prompt|Poiret+One" rel="stylesheet">
	<!-- html show thai char -->
 	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
    <meta http-equiv="Content-Type" content="text/html; charset=windows-874">
    <meta http-equiv="Content-Type" content="text/html; charset=tis-620">
</head>
<style>
	body,h1,h2 ,#openNav{
		font-family: 'Poiret One', cursive;
	}
	body, html {
		height: 100%
	}
	nav, p, #exit {
		font-family: 'Prompt', sans-serif;
		line-height: 4
	}
	.bgimg{
	    min-height: 100%;
	    background-position: center;
	    background-size: cover;
	}
	.bgimg {
		background-image: url("../static/Image/bg_img/bg2.jpg")
	}
</style>
<body>
	{% include 'sidenav.html' %}


	<!-- Page Content -->
	<div class="w3-display-container w3-wide bgimg w3-grayscale" id="contain">
	  	<div class="w3-container w3-padding-top">
	  		<span class="w3-opennav w3-xxlarge w3-padding-left" onclick="opennav()" id="openNav">&#9776; MENU</span>
	  		<span class="w3-opennav w3-xxlarge w3-padding-left" onclick="opennav()" id="hiddenNav">&nbsp</span>
	  	</div>

	</div>



</body>
<script>
	document.getElementById("contain").style.marginLeft = "17%";
	document.getElementById("hiddenNav").style.display = "inline-block";
	document.getElementById("openNav").style.display = "none";
	function opennav() {
	  document.getElementById("contain").style.marginLeft = "17%";
	  document.getElementById("mySidenav").style.width = "17%";
	  document.getElementById("mySidenav").style.display = "block";
	  document.getElementById("openNav").style.display = "none";
	  document.getElementById("hiddenNav").style.display = "inline-block";
	}
	function closenav() {
	  document.getElementById("contain").style.marginLeft = "0%";
	  document.getElementById("mySidenav").style.display = "none";
	  document.getElementById("hiddenNav").style.display = "none";
	  document.getElementById("openNav").style.display = "inline-block";
	}	
	function dropdown() {
    var x = document.getElementById("drop");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " w3-blue";
    } else {
        x.className = x.className.replace(" w3-show", "");
        x.previousElementSibling.className =
        x.previousElementSibling.className.replace(" w3-blue", "");
    }
}
</script>
</html>

